body {
  margin: 0;
  font-family:'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 display: flex;
 flex-direction: column;
  /* background: linear-gradient(180deg,#1A80D9, #73E9DB ); */
  background-image: url(https://static.vix.com/es/sites/default/files/p/por_que_el_cielo_es_azul.jpg);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
